---
import Layout from '/src/layouts/Layout.astro';
import {rsvpCopy} from '/src/assets/copy/rsvp'
import {supportedLang} from "/src/types/types";
import RsvpForm from '/src/components/RsvpForm';

export interface Props {
  lang: supportedLang
}

const { lang } = Astro.props;
const copy = rsvpCopy[lang];
---

<Layout lang={lang} title={copy.metaTitle} description={copy.metaDescription}>
  <main id="main-content" tabindex="-1" class="rsvp">
    <div class="wrapper region">
      <div class="flow">
        <img class="apply-border-radius" src="/images/rsvp/birthdays.jpeg" alt="Helena and Monique smiling"/>
        <div class="card | apply-border-radius bg-secondary-500 color-neutral-100">
          <div class="flow">
            <h1>{copy.headline}</h1>
            <p><strong>{copy.where}:</strong> {copy.address}</p>
            <p><strong>{copy.when}:</strong> {copy.date}</p>
          </div>
          <RsvpForm client:visible lang={lang} />
        </div>
      </div>
    </div>
  </main>
</Layout>
