---
import Layout from '/src/layouts/Layout.astro';
import {rsvpCopy} from '/src/assets/copy/rsvp'
import {supportedLang} from "/src/types/types";
import RsvpForm from '/src/components/RsvpForm';

export interface Props {
  lang: supportedLang
}

const { lang } = Astro.props;
---

<Layout lang={lang} title={rsvpCopy[lang].metaTitle} description={rsvpCopy[lang].metaDescription}>
  <main id="main-content" tabindex="-1">
    <div class="grid" data-layout="50-50">
      <img />
      <RsvpForm client:visible />
    </div>
  </main>
</Layout>
